<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
			<img src="images/rss_icon.png" alt="RSS Icon"/>
		</a>
		<div class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</div>
	</div>
	<div id="navMenu" class="navbar-menu">
		<div class="navbar-start"></div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-light" asp-area="" asp-controller="Home" asp-action="Login">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</nav>
